

.module2 {
    background-image: url(../../assets/img/albbusBackground.png);
    height: 432px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.module2textCont {
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-family: Inter;
    text-align: justify;
    width: 55%;
    margin-left: 60px;
}






//tablet
@media only screen and (max-width: 1282px) {
   .module2{
    height: auto;
    justify-content: center;
   
   }
   .module2textCont{
    padding: 10%;
    width: 85%;
    text-align: left;
   }


}
