.module2 {
    background-image: url(../../assets/img/albbusBackground.png);
    height: 432px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.module2textCont {


    text-align: justify;
    width: 55%;
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}






//tablet
@media only screen and (max-width: 1282px) {
    .module2 {
        height: auto;
        justify-content: center;

    }

    .module2textCont {
        padding: 10%;
        padding-left: 0;
        padding-right: 0;

        width: 90%;
        text-align: left;
        color: #FFF;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }


}

@media only screen and (max-width: 500px) {
    .module2textCont {
        padding: 30%;
        padding-left: 0;
        padding-right: 0;
        font-size: 20px;
    }

}