@media (min-width: 1200px) {
  .descriptionCont {
    display: grid;
    grid-template-columns: 55vw 45vw;
    grid-template-rows: 70vh 17.5vh;
    align-items: center;
    justify-items: center;
  }
  .create {
    display: flex;
    margin-left: 6em;
    margin-right: 4em;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 3em;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    color: #17003b;
  }
  .albbusCont {
    display: flex;
  }
  .solutions {
    grid-column: 1/3;
    color: #17003b;
    font-size: 1.75em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-style: italic;
  }
  .letterCont {
    margin-right: 0.45em;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .descriptionCont {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .create {
    width: 720px;

    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    font-size: 3em;
    color: #17003b;
  }

  .albbusCont {
    display: flex;
    align-items: flex-end;
  }

  .image {
    width: 50%;
    display: flex;
  }

  .solutions {
    grid-column: 1/3;
    color: #17003b;
    font-size: 1.75em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-style: italic;
  }
  .letterCont {
    margin-right: 0.45em;
  }
}

@media (max-width: 768px) {
  .descriptionCont {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .create {
    width: 90%;

    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2em;
    color: #17003b;
  }

  .albbusCont {
    display: flex;
    align-items: flex-end;
  }

  .image {
    width: 90%;
    display: flex;
  }

  .solutions {
    grid-column: 1/3;
    color: #17003b;
    font-size: 1.75em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-style: italic;
  }
  .letterCont {
    margin-right: 0.45em;
  }
}
