@media (min-width: 1200px) {
  .header {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition-duration: 1.5s;
  }

  .position {
    display: none;
  }

  .noNav {
    display: none;
    visibility: hidden;
  }

  .nav {
    display: none;
    visibility: hidden;
  }

  .menuDesktop {
    display: flex;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
  }

  .logo {
    width: 180px;
    height: 30px;
  }

  .elements {
    width: 811px;
    height: 24px;

    padding: 0;

    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
  }

  .aLink {
    margin-right: 60px;

    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #8cdedc;

    cursor: default;
  }

  .aLinkBtn {
    width: 140px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #91ddd2;
    border-radius: 10px;
    background: none;

    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
    color: #91ddd2;
    text-decoration: none;

    cursor: default;
  }

  .aLinkBtn:hover{
    color: #000000;

    background: rgba(140, 222, 220, 1);
  }

  .headerTwo {
    position: fixed;
    background: #013748d1;
    backdrop-filter: blur(20px);
    transition-duration: 1.5s;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .header {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition-duration: 1.5s;
  }

  .noNav {
    display: none;
    backdrop-filter: blur(20px);
  }

  .menuDesktop {
    display: none;
    visibility: hidden;
    backdrop-filter: blur(20px);
  }

  .nav {
    width: 370px;
    height: calc(100vh - 13vh);

    display: flex;

    position: fixed;
    top: 13vh;
    right: 0;

    background: #013748d1;
    backdrop-filter: blur(20px);

    z-index: 10;
  }

  .position {
    display: flex;

    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);

    z-index: 30;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }

  .logo {
    width: 180px;
    height: 30px;
  }

  .elements {
    width: 100%;
    height: 100%;

    padding: 0;
    fill-opacity: blur(20px);

    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
  }

  .element {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
  }

  .aLink {
    margin: auto auto auto 20px; //delete in the original page

    font-family: "Inter";
    font-size: x-large;
    font-weight: 300;
    text-decoration: none;
    color: #8cdedc;

    cursor: default;
  }

  .aLinkBtn {
    width: 140px;
    height: 45px;

    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #91ddd2;
    border-radius: 10px;
    background: none;

    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
    color: #91ddd2;
    text-decoration: none;

    cursor: default;
  }

  .aLinkBtn:hover{
    color: #000000;

    background: rgba(140, 222, 220, 1);
  }

  .headerTwo {
    position: fixed;
    background: #013748d1;
    backdrop-filter: blur(20px);
    transition-duration: 1.5s;
  }
}

@media (max-width: 768px) {
  .header {
    position: absolute;
    background: rgba(0, 0, 0, 0);
    transition-duration: 1.5s;
    backdrop-filter: blur(20px);
  }

  .noNav {
    display: none;
    backdrop-filter: blur(20px);
  }

  .nav {
    width: 100%;
    height: calc(100vh - 13vh);

    display: flex;

    position: fixed;
    top: 13vh;
    right: 0;

    background: #013748d1;
    backdrop-filter: blur(20px);

    z-index: 10;
  }

  .menuDesktop {
    display: none;
    visibility: hidden;
    backdrop-filter: blur(20px);
  }

  .position {
    display: flex;

    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);

    z-index: 30;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }

  .logo {
    width: 150px;
    height: 30px;
  }

  .elements {
    width: 100%;
    height: 100%;

    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
  }

  .element {
    width: 100%;
    height: 10%;

    padding: 10px 0;

    display: flex;
    align-items: center;
  }

  .aLink {
    margin: auto auto auto 20px; //delete in the original page

    font-family: "Inter";
    font-size: x-large;
    font-weight: 300;
    text-decoration: none;
    color: #8cdedc;

    cursor: default;
  }

  .aLinkBtn {
    width: 140px;
    height: 45px;

    margin-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #91ddd2;
    border-radius: 10px;
    background: none;

    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 300;
    color: #91ddd2;
    text-decoration: none;

    cursor: default;
  }

  .aLinkBtn:hover{
    color: #000000;

    background: rgba(140, 222, 220, 1);
  }

  .headerTwo {
    position: fixed;
    background: #013748d1;
    transition-duration: 1.5s;
  }
}
