

.logo{
    width: 180px;
    height: 30px;

    position: absolute;
    top: 40px;
    left: 60px;
}

.elements{
    width: 811px;
    height: 24px;

    padding: 0;

    position: absolute;
    top: 50px;
    right: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

.aLink{
    font-family: "Inter";
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #8CDEDC;

    cursor: default;
}

.btnQuote{
    width: 137px;
    height: 44px;

    border: 1px solid #91DDD2;
    border-radius: 10px;
    background: none;

    font-family: "Inter";
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #8CDEDC;
}

