.footer {
  background-color: #061E22;
  color: #8CDEDC;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  padding: 20px;
  height: 170px;
  font-size: 20px;

  .leftsection {
    display: flex;
    align-items: flex-start; 
    flex-direction: column;
    margin: 20px;
    
    .logo {
      width: 320px;
      height: 50px;
      margin-bottom: 10px; 
    }
    
    .rights {
      color: #ffffff;
    }
  }
  
  .rightsection {
    .follow {
      margin: 5px 0; 
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .socialicons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start; 
      
      .icon {
        margin: 5px;
        width: 25px;
        height: 25px;
      }
    }
  }
  
  .linkssection {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-top: 10px; 

    .linksfooter {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      margin: 5px 0; 
      color: #8CDEDC;
      text-decoration: none;
    }
  }

  /* Estilos para pantallas más pequeñas (máximo 768px) */
  @media screen and (max-width: 768px) {
    flex-direction: column; 
    height: auto;

    .leftsection {
      align-items: center; 
      margin-bottom: 10px;
    }

    .rightsection {
      text-align: center; 
    }
  }
}
