.containertest {
    width: 1512px;
    height: 365px;
    flex-shrink: 0;
  
    position: relative;
    background-image: url(../../assets/image/testimonialbck.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}