.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000C25;
  height: auto;
}

.title{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2.5em;
    color: white;
    margin-top: 1em;
    margin-bottom: 50px;
    width: 70%;
    text-align: center;
}
@media screen and (max-width: 768px) {
  .title{
    font-size: 2.1em;
  }
}